<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.zsm.my.finance.web.api.login.dao.UserDao">

    <!--根据登陆名和密码查用户-->
    <select id="getUser" resultType="com.qf.zsm.domain.User">
        select  *  from  user  where  loginName=#{loginName} or user_bind_telNo=#{userBindTelNo} and loginPassword=#{loginPassword}
    </select>

    <!--注册用户-->
    <insert id="addUser" parameterType="String">
        insert into user (loginName,loginPassword,user_bind_telNo) values (#{loginName},
        #{loginPassword},#{userBindTelNo})
    </insert>
</mapper>